<div class="productView-description">
    
  
  
  
    
  	<!--
		Creater : @Mikhail 2022/2/13
		Description : This is a product detail part.
	-->
  
	<div class="row middle-detail-product" id="details-middle">
      <div id="detail-middle-left" class="col-md-7">
        <div id="details-middle-left-inner">
          <div id="item-details">
            <section id="section-item-details">
              <h2 class="title">Product Details</h2>
              <div class="content" style="display: none;"> 
                <dl> 
                  <dt>Product Code</dt> 
                  {%- assign current_variant = product.selected_or_first_available_variant -%}
                  <dd class="last" id="detail-product-code">{{current_variant.sku}}</dd> 
                </dl> 
                <dl> 
                  <dt>Height</dt> 
                  {%- assign current_product_height = product.metafields.my_fields.product_height -%}
                  <dd class="last">{{current_product_height | round : 2}} mm</dd> 
                </dl> 
                <dl> 
                  <dt>Width</dt> 
                  {%- assign current_product_width = product.metafields.my_fields.product_width -%}
                  <dd class="last">{{current_product_width | round : 2}} mm</dd> 
                </dl> 
                <dl> 
                  <dt>Product Weight (Approx)</dt> 
                  <dd class="last" id="product_total_weight">{{ product.variants.first.weight | weight_with_unit }}</dd> 
                </dl> 
              </div>
            </section>
            <section id="preSetSolitaire-details">
              <h2 class="title expanded">
                Solitaire Details   
              </h2>
              <div class="panel"> 
                <dl> 
                  <dt>Total Weight</dt> 
                  {%- assign current_solitaire_weight = product.metafields.my_fields.solitaire_weight -%}
                  <dd class="last" id="preSetSolitaireCarat">{{current_solitaire_weight | round:2}} Ct</dd> 
                </dl> 
                <dl> 
                  <dt>Total No. of Solitaires</dt>
                  {%- assign current_solitaire_no = product.metafields.my_fields.solitaire_no -%}
                  <dd class="last">{{current_solitaire_no}}</dd> 
                </dl> 
                <dl> 
                  <dt>Shape</dt> 
                  {%- assign current_solitaire_shape = product.metafields.my_fields.solitaire_shape -%}
                  <dd class="last" id="preSetSolitaireShape">{{current_solitaire_shape}}</dd> 
                </dl> 
                <dl> 
                  <dt>Clarity</dt> 
                  <dd class="last" id="preSetSolitaireClarity">{{product.metafields.my_fields.solitaire_clarity}}</dd> 
                </dl>
                <dl> 
                  <dt>Color</dt> 
                  <dd class="last" id="preSetSolitaireColor">{{product.metafields.my_fields.solitaire_color1}}</dd> 
                </dl> 
                <dl> 
                  <dt>Cut-Polish-Symmetry</dt> 
                  <dd class="last">{{product.metafields.my_fields.solitaire_cut_polish_symmetry}}</dd> 
                </dl>  
              </div>

            </section>
            <section id="stone-details" class="detail-with-diamond">
              <h2 class="title expanded">
                DIAMOND DETAILS  
              </h2>
              <div class="panel-fix">
                <dl> 
                  <dt>Total Weight</dt>
                  {%- assign current_diamond_weight = product.metafields.my_fields.diamond_weight -%}
                  <dd class="last">{{current_diamond_weight | round : 3}} Ct</dd> 
                </dl> 
                <dl> 
                  <dt>Total No. Of Diamonds</dt> 
                  <dd class="last">{{product.metafields.my_fields.diamond_no}}</dd> 
                </dl> 
              </div>
              
              <div class="panel"> 
                <dl> 
                  <dt>Clarity</dt> 
                  <dd class="last">{{product.metafields.my_fields.diamond_clarity}}</dd> 
                </dl> 
                <dl> 
                  <dt>Color</dt> 
                  <dd class="last">{{product.metafields.my_fields.diamond_color}}</dd> 
                </dl> 
                <dl> 
                  <dt>No. Of Diamonds</dt> 
                  <dd class="last">{{product.metafields.my_fields.diamond_no}}</dd> 
                </dl> 
                <dl> 
                  <dt>Shape</dt> 
                  <dd class="last">{{product.metafields.my_fields.diamond_shape}}</dd> 
                </dl>
                <dl> 
                  <dt>Total Weight</dt> 
                  <dd class="last">{{product.metafields.my_fields.diamond_weight | round:3}} carats</dd> 
                </dl> 
              </div>

            </section>
            <section id="metal-details">
              <h2 class="title expanded">
                METAL DETAILS  
              </h2>
              <div class="panel"> 
                <dl> 
                  <dt>Type</dt> 
                  <dd class="last">{{product.metafields.my_fields.metal_type1}}</dd> 
                </dl> 
                <dl> 
                  <dt>Weight(Approx)</dt> 
                  <dd class="last">{{product.metafields.my_fields.metal_weight | round:2}} gram</dd> 
                </dl> 
              </div>

            </section>
            <section id="section-price-breakup">
              <h2 class="title expanded">
                PRICE BREAKUP  
              </h2>
              <div class="panel"> 
                <dl> 
                  <dt>Gold</dt> 
                  <dd class="last">${{product.metafields.my_fields.price_gold | round:2}}</dd> 
                </dl> 
                <dl> 
                  <dt>Diamond</dt> 
                  <dd class="last">${{product.metafields.my_fields.price_diamond | round:2}}</dd> 
                </dl> 
                <dl> 
                  <dt>Solitaire</dt> 
                  <dd class="last">${{product.metafields.my_fields.price_solitaire | round:2}}</dd> 
                </dl> 
                <dl> 
                  <dt>Making Charge</dt> 
                  <dd class="last">${{product.metafields.my_fields.price_making_charge | round:2}}</dd> 
                </dl> 
                <dl> 
                  <dt>GST</dt> 
                  <dd class="last">${{product.metafields.my_fields.price_gst | round:2}}</dd> 
                </dl> 
                <dl> 
                  <dt>Total</dt> 
                  {%- assign current_price_total = product.metafields.my_fields.price_gold | plus:product.metafields.my_fields.price_diamond | plus:product.metafields.my_fields.price_solitaire | plus:product.metafields.my_fields.price_making_charge | plus:product.metafields.my_fields.price_gst -%}
                  <dd class="last">${{current_price_total | round:2}}</dd> 
                </dl> 
              </div>

            </section>
            <section id="section-price-breakup">
              <h2 class="title expanded">
                TAGS  
              </h2>
              <div class="panel"> 
                <p class="tags-list">
                  {% for tag in product.tags %}
                  <a href="/collections/all/{{ tag | handleize }}">
                    <span clsas="el-icon-tag">{{ tag }}</span>
                  </a>
                  {% endfor %}
                </p>
              </div>

            </section>
           
          </div>
        </div>
      </div>
      <div id="detail-middle-right" class="col-md-5">
        <div id="details-middle-right-inner">
          <div class="bs-promise-container"> 
              <h2 class="title-9">Bluestone Promise</h2> 
              <div class="bs-promise"> 
                  <ul> 
                      <li>
                          <span class="prcs-d" data-p="30-day-return,bsp" title="30-Day Money Back">
                              <i class="fas fa-sign-out-alt fa-fw"></i> 
                              <span> 30-Day Money Back</span>
                          </span>
                      </li> 
                      <li>
                          <span class="prcs-d" data-p="lifetime-exchange,bsp" title="Lifetime Exchange">
                              <i class="fas fa-globe fa-fw"></i>
                              <span>Lifetime Exchange<br>&amp; Buy-Back Policy</span>
                          </span>
                      </li> 
                      <li>
                          <span class="prcs-d" data-p="certifications,bsp" title="Certified Jewellery">
                              <i class="fa fa-solid fa-award"></i>
                              <span>Certified Jewellery</span>
                          </span></li> 
                          <li>
                              <span class="prcs-d" data-p="refund,bsp" title="100% Refund">
                                  <i class="fa fa-solid fa-thumbs-up"></i>
                                  <span>100% Refund</span>
                              </span>
                          </li> 
                          <li>
                              <span class="prcs-d" data-p="free-shipping,bsp" title="Free Shipping">
                                  <i class="fa fa-solid fa-taxi"></i>
                                  <span>Free Shipping</span>
                              </span>
                          </li> 
                          <li>
                              <span class="prcs-d" data-p="free-returns,bsp" title="Free Returns">
                                  <i class="fa fa-heart fa-fw"></i>

                                  <span>Free Returns</span>
                              </span>
                          </li> 
                  	</ul> 
                  <div class="clear"></div> 
              </div> 
              <div class="clear"></div> 
          </div>
          <section id="certificaton" class="clearfix"> 
              <span class="title">Certificate of Authenticity</span> 
              <div class="content"> 
                  Every piece of jewellery that we <br>make is certified for authenticity by<br> 
                  third-party international laboratories<br> like <strong>SGL</strong>, 
                  <strong>IGI</strong>, <strong>BIS</strong>, <strong>GIA</strong>, 
                  and <strong>HKD</strong>. 
              </div> 
          </section>
        </div>
      </div>
     
    </div>
  	 <!--
		============================ END ====================================
	  -->
</div>

  <script>
      
    var acc = $('#item-details section h2.expanded');
	var i;

    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        
        if($(this).next().hasClass('panel')){
          var panel = this.nextElementSibling;
        }else{
          var panel = this.nextElementSibling.nextElementSibling;
        }

        if (panel.style.maxHeight) {
          panel.style.maxHeight = null;
        } else {
          panel.style.maxHeight = panel.scrollHeight + "px";
        } 
      });
    }
  </script>
{% schema %}
{
    "name": "Product Tabs",
    "settings": [
        {
            "type": "header",
            "content": "Product Description Tab"
        },
        {
            "type": "checkbox",
            "id": "display_product_detail_description",
            "label": "Enable Product Description?",
            "default": true
        },
        {
            "type": "text",
            "id": "product_description_title",
            "label": "Product Description Title",
            "default": "Description"
        },
        {
            "type": "header",
            "content": "Product Review Tab"
        },
        {
            "type": "checkbox",
            "id": "display_product_review_tab",
            "label": "Enable Product Review Tab",
            "default": true
        },
        {
            "type": "text",
            "id": "product_review_title",
            "label": "Product Review Title",
            "default": "Customer Reviews"
        },
        {
            "type":"header",
            "content":"LOOKBOOK GALLERY IN PRODUCT DETAIL"
        },
        {
            "type":"checkbox",
            "id":"enable_lookbook_gallery",
            "label":"Enable?",
            "default":true
        },
        {
            "type": "radio",
            "id": "style_lookbook_gallery",
            "label": "Style",
            "options": [
                {
                    "value": "all_product",
                    "label": "Use for all products"
                },
                {
                    "value": "different_product",
                    "label": "Use for different product"
                }
            ],
            "default": "all_product",
            "info":"If you would like to use 1 LookBook Gallery the same for all of products, you just need to setup only 1 LookBook Gallery."
        },
        {
            "type":"text",
            "id":"title_lob_glr",
            "label":"Title",
            "default":"Sample Image Gallery",
            "info":"==============="
        },
        {
            "type":"text",
            "id":"title_paragraph_text",
            "label":" Title Sample Paragraph Text",
            "default":"Sample Paragraph Text"
        },
        {
            "type":"textarea",
            "id":"content_paragraph_text",
            "label":" Des Sample Paragraph Text",
            "default":"Praesent destibulum congue tellus at fringilla. Curabitur vitae semper sem, eu convallis est. Cras delis nunc commodo eu convallis vitae interdum non nisl. Maecenas ac est sit amet augue pharetra convallis nec danos dui. Cras suscipit quam an turpis eleifend ditae malesuada loremous. nteger mattis augue sit amet mi ornare gravida. Mauris dapibus lobortis sem eu tristique. Pellentesque vel ullamcorper felis nullam tempor miaculis varius."
        }
    ],
    "blocks": [
        {
            "type": "product_tab",
            "name": "Another Product Tab",
            "settings": [
                {
                    "type": "header",
                    "content": "Product Tab"
                },
                {
                    "type": "select",
                    "id": "type_tab",
                    "label": "Type Tab",
                    "default": "all",
                    "options": [
                        {
                            "value": "all",
                            "label": "Show For All Product"
                        },
                        {
                            "value": "custom",
                            "label": "Only Show For This Product"
                        }
                    ]
                },
                {
                    "type": "text",
                    "id": "product_tab_title",
                    "label": "Product Tab Title",
                    "default": "Product Tab"
                },
                {
                    "type": "textarea",
                    "id": "product_tab_content",
                    "label": "Product Tab Content",
                    "default": "Use overlay text to give your customers insight into your brand. Select image and text that relates to your style and story.",
                    "info": "Show For All Product"
                },
                {
                    "type": "text",
                    "id": "product_tab_content_2",
                    "label": "Product Tab Content 2",
                    "info": "Only Show For This Product - Please install app Metafields Guru and setting like Document"
                }
            ]
        },
        {
            "type": "lookbook_galry_item",
            "name": "Lookbook Gallery Item",
            "settings": [
                {
                  "type" : "product",
                  "id" : "main_pr_look",
                  "label" : "Select the product needs to display Loobook",
                  "info": "Choose if you want to show the different lookbook gallery for each of product."
                },
                {
                  "type":"header",
                  "content":"Image 1"
                },
                {
                    "type": "image_picker",
                    "id": "lookbook_image_1",
                    "label": "Image",
                    "info":"=============="
                },
                {
                    "type": "product",
                    "label": "Product 1",
                    "id": "product_1"
                },
                {
                    "type": "range",
                    "id": "coordinates_x_1",
                    "label": "Coordinates x",
                    "max": 100,
                    "min": 0,
                    "step": 1,
                    "unit": "%",
                    "default": 36
                },
                {
                    "type": "range",
                    "id": "coordinates_y_1",
                    "label": "Coordinates y",
                    "max": 100,
                    "min": 0,
                    "step": 1,
                    "unit": "%",
                    "default": 48
                },
                {
                  "type":"header",
                  "content":"Image 2"
                },
                {
                    "type": "image_picker",
                    "id": "lookbook_image_2",
                    "label": "Image",
                    "info":"=============="
                },
                {
                    "type": "product",
                    "label": "Product 2",
                    "id": "product_2"
                },
                {
                    "type": "range",
                    "id": "coordinates_x_2",
                    "label": "Coordinates x",
                    "max": 100,
                    "min": 0,
                    "step": 1,
                    "unit": "%",
                    "default": 36
                },
                {
                    "type": "range",
                    "id": "coordinates_y_2",
                    "label": "Coordinates y",
                    "max": 100,
                    "min": 0,
                    "step": 1,
                    "unit": "%",
                    "default": 48
                },
                {
                  "type":"header",
                  "content":"Image 3"
                },
                {
                    "type": "image_picker",
                    "id": "lookbook_image_3",
                    "label": "Image",
                    "info":"=============="
                },
                {
                    "type": "product",
                    "label": "Product 3",
                    "id": "product_3"
                },
                {
                    "type": "range",
                    "id": "coordinates_x_3",
                    "label": "Coordinates x",
                    "max": 100,
                    "min": 0,
                    "step": 1,
                    "unit": "%",
                    "default": 36
                },
                {
                    "type": "range",
                    "id": "coordinates_y_3",
                    "label": "Coordinates y",
                    "max": 100,
                    "min": 0,
                    "step": 1,
                    "unit": "%",
                    "default": 48
                },
                {
                  "type":"header",
                  "content":"Image 4"
                },
                {
                    "type": "image_picker",
                    "id": "lookbook_image_4",
                    "label": "Image",
                    "info":"=============="
                },
                {
                    "type": "product",
                    "label": "Product 4",
                    "id": "product_4"
                },
                {
                    "type": "range",
                    "id": "coordinates_x_4",
                    "label": "Coordinates x",
                    "max": 100,
                    "min": 0,
                    "step": 1,
                    "unit": "%",
                    "default": 36
                },
                {
                    "type": "range",
                    "id": "coordinates_y_4",
                    "label": "Coordinates y",
                    "max": 100,
                    "min": 0,
                    "step": 1,
                    "unit": "%",
                    "default": 48
                },
                {
                  "type":"header",
                  "content":"Image 5"
                },
                {
                    "type": "image_picker",
                    "id": "lookbook_image_5",
                    "label": "Image",
                    "info":"=============="
                },
                {
                    "type": "product",
                    "label": "Product 1",
                    "id": "product_5_1"
                },
                {
                    "type": "range",
                    "id": "coordinates_x_5_1",
                    "label": "Coordinates x",
                    "max": 100,
                    "min": 0,
                    "step": 1,
                    "unit": "%",
                    "default": 36
                },
                {
                    "type": "range",
                    "id": "coordinates_y_5_1",
                    "label": "Coordinates y",
                    "max": 100,
                    "min": 0,
                    "step": 1,
                    "unit": "%",
                    "default": 48,
                    "info":"================"
                },
                {
                    "type": "product",
                    "label": "Product 2",
                    "id": "product_5_2"
                },
                {
                    "type": "range",
                    "id": "coordinates_x_5_2",
                    "label": "Coordinates x",
                    "max": 100,
                    "min": 0,
                    "step": 1,
                    "unit": "%",
                    "default": 36
                },
                {
                    "type": "range",
                    "id": "coordinates_y_5_2",
                    "label": "Coordinates y",
                    "max": 100,
                    "min": 0,
                    "step": 1,
                    "unit": "%",
                    "default": 48,
                    "info":"================"
                },
                {
                    "type": "product",
                    "label": "Product 3",
                    "id": "product_5_3"
                },
                {
                    "type": "range",
                    "id": "coordinates_x_5_3",
                    "label": "Coordinates x",
                    "max": 100,
                    "min": 0,
                    "step": 1,
                    "unit": "%",
                    "default": 36
                },
                {
                    "type": "range",
                    "id": "coordinates_y_5_3",
                    "label": "Coordinates y",
                    "max": 100,
                    "min": 0,
                    "step": 1,
                    "unit": "%",
                    "default": 48
                }
            ]
        }
    ]
}
{% endschema %}